# Prediction using NN

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
import os

## Load Dataset

In [ ]:
data_folder_path = '/content/drive/MyDrive/Colab Notebooks/Data'

file_path = os.path.join(data_folder_path, 'train.csv')
train_df = pd.read_csv(file_path)

file_path = os.path.join(data_folder_path, 'test.csv')
test_df = pd.read_csv(file_path)

train_df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## EDA & Cleaning

In [ ]:
# Drop the columns that are not useful for the model - PassengerId, Name, Ticket
train_df = train_df.drop(['PassengerId','Name','Ticket'], axis=1)

train_df.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S
5         0       3    male   NaN      0      0   8.4583   NaN        Q
6         0       1    male  54.0      0      0  51.8625   E46        S
7         0       3    male   2.0      3      1  21.0750   NaN        S
8         1       3  female  27.0      0      2  11.1333   NaN        S
9         1       2  female  14.0      1      0  30.0708   NaN        C

In [ ]:
# check for missing values
train_df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [ ]:
train_df.shape

(891, 9)

In [ ]:
# drop empty embarked rows
train_df.dropna(subset=['Embarked'])

# fill missing age values with the mean
train_df['Age'] = train_df['Age'].fillna(train_df['Age'].mean())

# check for missing values
train_df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [ ]:
# Transform the categorical data into numerical data
train_df = pd.get_dummies(train_df, columns=['Sex','Embarked'], dtype='int64')

train_df.head(10)

,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.000000,1,0,7.2500,NaN,0,1,0,0,1
1,1,1,38.000000,1,0,71.2833,C85,1,0,1,0,0
2,1,3,26.000000,0,0,7.9250,NaN,1,0,0,0,1
3,1,1,35.000000,1,0,53.1000,C123,1,0,0,0,1
4,0,3,35.000000,0,0,8.0500,NaN,0,1,0,0,1
5,0,3,29.699118,0,0,8.4583,NaN,0,1,0,1,0
6,0,1,54.000000,0,0,51.8625,E46,0,1,0,0,1
7,0,3,2.000000,3,1,21.0750,NaN,0,1,0,0,1
8,1,3,27.000000,0,2,11.1333,NaN,1,0,0,0,1
9,1,2,14.000000,1,0,30.0708,NaN,1,0,1,0,0

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'Cabin' is a categorical column in your DataFrame 'train_df'
cabin_encoder = LabelEncoder()
train_df['Cabin'] = cabin_encoder.fit_transform(train_df['Cabin'].astype(str))

# Now, 'Cabin' is transformed into numerical values
train_df.head(10)

,Survived,Pclass,Age,SibSp,Parch,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,22.000000,1,0,7.2500,147,0,1,0,0,1
1,1,1,38.000000,1,0,71.2833,81,1,0,1,0,0
2,1,3,26.000000,0,0,7.9250,147,1,0,0,0,1
3,1,1,35.000000,1,0,53.1000,55,1,0,0,0,1
4,0,3,35.000000,0,0,8.0500,147,0,1,0,0,1
5,0,3,29.699118,0,0,8.4583,147,0,1,0,1,0
6,0,1,54.000000,0,0,51.8625,129,0,1,0,0,1
7,0,3,2.000000,3,1,21.0750,147,0,1,0,0,1
8,1,3,27.000000,0,2,11.1333,147,1,0,0,0,1
9,1,2,14.000000,1,0,30.0708,147,1,0,1,0,0

In [ ]:
train_df.shape

(891, 12)

## Model training

In [ ]:
train_data = train_df.drop('Survived', axis=1)
train_labels = train_df['Survived']

In [ ]:
train_data.head()

,Pclass,Age,SibSp,Parch,Fare,Cabin,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,147,0,1,0,0,1
1,1,38.0,1,0,71.2833,81,1,0,1,0,0
2,3,26.0,0,0,7.9250,147,1,0,0,0,1
3,1,35.0,1,0,53.1000,55,1,0,0,0,1
4,3,35.0,0,0,8.0500,147,0,1,0,0,1

In [ ]:
train_dataset = tf.data.Dataset.from_tensor_slices((train_data, train_labels))

model = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(11,)),  # input layer (1)
    tf.keras.layers.Dense(256, activation='tanh'),  # hidden layer (2)
    tf.keras.layers.Dense(128, activation='tanh'),
    tf.keras.layers.Dense(10, activation='sigmoid') # output layer (3)
])

model.compile(optimizer='nadam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

model.fit(train_data, train_labels, epochs=100, batch_size=10)

Epoch 1/100
90/90 [==============================] - 2s 2ms/step - loss: 0.7013 - accuracy: 0.6364
Epoch 2/100
90/90 [==============================] - 0s 2ms/step - loss: 0.6048 - accuracy: 0.6902
Epoch 3/100
90/90 [==============================] - 0s 2ms/step - loss: 0.5744 - accuracy: 0.7003
Epoch 4/100
90/90 [==============================] - 0s 2ms/step - loss: 0.5570 - accuracy: 0.7194
Epoch 5/100
90/90 [==============================] - 0s 2ms/step - loss: 0.5226 - accuracy: 0.7587
Epoch 6/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4877 - accuracy: 0.7654
Epoch 7/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4773 - accuracy: 0.7722
Epoch 8/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4877 - accuracy: 0.7710
Epoch 9/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4478 - accuracy: 0.8036
Epoch 10/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4663 - accuracy: 0.7890
Epoch 11/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4561 - accuracy: 0.7901
Epoch 12/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4411 - accuracy: 0.8114
Epoch 13/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4314 - accuracy: 0.8114
Epoch 14/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4492 - accuracy: 0.8002
Epoch 15/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4293 - accuracy: 0.8159
Epoch 16/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4239 - accuracy: 0.8227
Epoch 17/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4301 - accuracy: 0.8137
Epoch 18/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4251 - accuracy: 0.8159
Epoch 19/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4151 - accuracy: 0.8159
Epoch 20/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4307 - accuracy: 0.8159
Epoch 21/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4142 - accuracy: 0.8227
Epoch 22/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4191 - accuracy: 0.8215
Epoch 23/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4249 - accuracy: 0.8215
Epoch 24/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4094 - accuracy: 0.8238
Epoch 25/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4264 - accuracy: 0.8058
Epoch 26/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4206 - accuracy: 0.8215
Epoch 27/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4143 - accuracy: 0.8204
Epoch 28/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3985 - accuracy: 0.8294
Epoch 29/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4042 - accuracy: 0.8260
Epoch 30/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4073 - accuracy: 0.8103
Epoch 31/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4124 - accuracy: 0.8272
Epoch 32/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4065 - accuracy: 0.8260
Epoch 33/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3919 - accuracy: 0.8272
Epoch 34/100
90/90 [==============================] - 0s 4ms/step - loss: 0.4042 - accuracy: 0.8137
Epoch 35/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3997 - accuracy: 0.8339
Epoch 36/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3862 - accuracy: 0.8283
Epoch 37/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4019 - accuracy: 0.8294
Epoch 38/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3863 - accuracy: 0.8305
Epoch 39/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3964 - accuracy: 0.8350
Epoch 40/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3939 - accuracy: 0.8249
Epoch 41/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3953 - accuracy: 0.8384
Epoch 42/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4172 - accuracy: 0.8294
Epoch 43/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4001 - accuracy: 0.8316
Epoch 44/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3886 - accuracy: 0.8350
Epoch 45/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3979 - accuracy: 0.8227
Epoch 46/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3905 - accuracy: 0.8339
Epoch 47/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3884 - accuracy: 0.8305
Epoch 48/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3830 - accuracy: 0.8272
Epoch 49/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3939 - accuracy: 0.8294
Epoch 50/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3794 - accuracy: 0.8373
Epoch 51/100
90/90 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8294
Epoch 52/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3878 - accuracy: 0.8350
Epoch 53/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3873 - accuracy: 0.8283
Epoch 54/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3901 - accuracy: 0.8451
Epoch 55/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3842 - accuracy: 0.8373
Epoch 56/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3862 - accuracy: 0.8440
Epoch 57/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3788 - accuracy: 0.8361
Epoch 58/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3706 - accuracy: 0.8440
Epoch 59/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3712 - accuracy: 0.8507
Epoch 60/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3757 - accuracy: 0.8350
Epoch 61/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3926 - accuracy: 0.8395
Epoch 62/100
90/90 [==============================] - 0s 3ms/step - loss: 0.4064 - accuracy: 0.8272
Epoch 63/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3804 - accuracy: 0.8418
Epoch 64/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3850 - accuracy: 0.8429
Epoch 65/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3653 - accuracy: 0.8440
Epoch 66/100
90/90 [==============================] - 1s 10ms/step - loss: 0.3684 - accuracy: 0.8418
Epoch 67/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3669 - accuracy: 0.8429
Epoch 68/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3744 - accuracy: 0.8462
Epoch 69/100
90/90 [==============================] - 1s 8ms/step - loss: 0.3669 - accuracy: 0.8451
Epoch 70/100
90/90 [==============================] - 1s 15ms/step - loss: 0.3710 - accuracy: 0.8462
Epoch 71/100
90/90 [==============================] - 2s 19ms/step - loss: 0.3620 - accuracy: 0.8519
Epoch 72/100
90/90 [==============================] - 1s 11ms/step - loss: 0.3571 - accuracy: 0.8608
Epoch 73/100
90/90 [==============================] - 0s 5ms/step - loss: 0.3608 - accuracy: 0.8519
Epoch 74/100
90/90 [==============================] - 0s 5ms/step - loss: 0.3531 - accuracy: 0.8451
Epoch 75/100
90/90 [==============================] - 0s 5ms/step - loss: 0.3612 - accuracy: 0.8519
Epoch 76/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3495 - accuracy: 0.8575
Epoch 77/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3715 - accuracy: 0.8373
Epoch 78/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3595 - accuracy: 0.8496
Epoch 79/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3518 - accuracy: 0.8541
Epoch 80/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3548 - accuracy: 0.8552
Epoch 81/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3643 - accuracy: 0.8530
Epoch 82/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3473 - accuracy: 0.8575
Epoch 83/100
90/90 [==============================] - 0s 4ms/step - loss: 0.3676 - accuracy: 0.8485
Epoch 84/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3581 - accuracy: 0.8507
Epoch 85/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8519
Epoch 86/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3685 - accuracy: 0.8373
Epoch 87/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3503 - accuracy: 0.8519
Epoch 88/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3597 - accuracy: 0.8496
Epoch 89/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8507
Epoch 90/100
90/90 [==============================] - 0s 3ms/step - loss: 0.3703 - accuracy: 0.8552
Epoch 91/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8541
Epoch 92/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3579 - accuracy: 0.8541
Epoch 93/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3470 - accuracy: 0.8620
Epoch 94/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3591 - accuracy: 0.8395
Epoch 95/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8462
Epoch 96/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3522 - accuracy: 0.8541
Epoch 97/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3570 - accuracy: 0.8575
Epoch 98/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8563
Epoch 99/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3643 - accuracy: 0.8507
Epoch 100/100
90/90 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8496

In [ ]:
# evaluate model
model.evaluate(train_data, train_labels)

28/28 [==============================] - 0s 3ms/step - loss: 0.3345 - accuracy: 0.8676

[0.33450770378112793, 0.8675645589828491]

## Model Prediction

In [ ]:
test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [ ]:
def prediction_to_kaggle_format(model, threshold=0.5):
    proba_survive = model.predict(test_data, verbose=0)[:,0]
    return pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": (proba_survive >= threshold).astype(int)
    })

def make_submission(kaggle_predictions):
    path = os.path.join(data_folder_path, 'titanic_submission.csv')
    # path="data/tf_lead_submission.csv"
    kaggle_predictions.to_csv(path, index=False)
    print(f"Submission exported to {path}")

kaggle_predictions = prediction_to_kaggle_format(model)
make_submission(kaggle_predictions)
# !head /content/drive/MyDrive/Colab Notebooks/Data/titanic_submission.csv

Submission exported to /content/drive/MyDrive/Colab Notebooks/Data/titanic_submission.csv